<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge">
  <meta name="Wonders of Nature"
    content="Wonders of Nature is a website where everyone who enjoys nature can view, discuss, rate and upload nature photograhs." />

  <!-- Always include this line of code!!! -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script></script>

  <title>Wonders of Nature</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <section class="header">
      <h1 class="header-title">Wonders of Nature</h1>
    </section>

    <section class="subheader">
      <button class="signin-Register-1" type="button" onclick="myButton.click()" target="_blank"><a href="signin.html">Sign In / Register</a></button>
      <div class="siteSubheaderSection">
        <div class="siteSubheader">
          <section
            class="main-nav-link:link, main-nav-link:visited, main-nav-link:hover, main-nav-link:active, main-nav-link.nav-cta:hover, main-nav-link.nav-cta:active">
            <ul>
              <li><a href="index.html" class="link-list">Home</a></li>
              <li><a href="aboutus.html" class="link-list">About Us</a></li>
              <li><a href="discussions.html" class="link-list">Discussions</a></li>
            </ul>
          </section>
          <div class="siteSearch-2">
            <form id="form" role="search">
              <input type="search" id="query" name="q" placeholder="Search..."
                aria-label="Search through site content" />
              <button class="search-bar" type="button" onclick="myButton.click()">
                <svg class="svg-search" viewBox="0 0 1024 1024">
                  <path class="path1"
                    d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                  </path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </header>
    
    <main>
      <h1 class="ratings-title">Ratings</h1>
      <section class="ratings-grid">
      <div class="ratings-grid-post-1">
        <h2>Post rating</h2>
        <div>
          <h3 class="ratings-post-title">Beautiful Mountain Scenery</h3>
          <img src="img/photo-1610878180933-123728745d22.jpg" class="img-nature" alt="Nature" />
          <section class="icons-box">
            <svg src="img/star.svg" class="ratings-icon" viewBox="0 0 256 256">
              <path
                d="M132.4,190.7l50.4,32c6.5,4.1,14.5-2,12.6-9.5l-14.6-57.4a8.7,8.7,0,0,1,2.9-8.8l45.2-37.7c5.9-4.9,2.9-14.8-4.8-15.3l-59-3.8a8.3,8.3,0,0,1-7.3-5.4l-22-55.4a8.3,8.3,0,0,0-15.6,0l-22,55.4a8.3,8.3,0,0,1-7.3,5.4L31.9,94c-7.7.5-10.7,10.4-4.8,15.3L72.3,147a8.7,8.7,0,0,1,2.9,8.8L61.7,209c-2.3,9,7.3,16.3,15,11.4l46.9-29.7A8.2,8.2,0,0,1,132.4,190.7Z"
                fill="#ad423c" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </section>
          <section class="ratings-box">
            <p>4,255 votes</p>
            <p>4.3 / 5 stars</p>
          </section>
          <h3 class="ratings-post-title-1">Eye Candy</h3>
          <img src="img/istockphoto-517188688-612x612.jpg" alt="Nature" class="img-nature-1" />
          <section class="icons-box-1">
            <svg src="img/star.svg" class="ratings-icon" viewBox="0 0 256 256">
              <path
                d="M132.4,190.7l50.4,32c6.5,4.1,14.5-2,12.6-9.5l-14.6-57.4a8.7,8.7,0,0,1,2.9-8.8l45.2-37.7c5.9-4.9,2.9-14.8-4.8-15.3l-59-3.8a8.3,8.3,0,0,1-7.3-5.4l-22-55.4a8.3,8.3,0,0,0-15.6,0l-22,55.4a8.3,8.3,0,0,1-7.3,5.4L31.9,94c-7.7.5-10.7,10.4-4.8,15.3L72.3,147a8.7,8.7,0,0,1,2.9,8.8L61.7,209c-2.3,9,7.3,16.3,15,11.4l46.9-29.7A8.2,8.2,0,0,1,132.4,190.7Z"
                fill="#ad423c" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </section>
          <section class="ratings-box-1">
            <p>2,345 votes</p>
            <p>4.15 / 5 stars</p>
          </section>
          <h3 class="ratings-post-title-2">A breath-taking view</h3>
          <img src="img/autumn-poolside.jpg" alt="Nature" class="img-nature-2" />
          <section class="icons-box-2">
            <svg src="img/star.svg" class="ratings-icon" viewBox="0 0 256 256">
              <path
                d="M132.4,190.7l50.4,32c6.5,4.1,14.5-2,12.6-9.5l-14.6-57.4a8.7,8.7,0,0,1,2.9-8.8l45.2-37.7c5.9-4.9,2.9-14.8-4.8-15.3l-59-3.8a8.3,8.3,0,0,1-7.3-5.4l-22-55.4a8.3,8.3,0,0,0-15.6,0l-22,55.4a8.3,8.3,0,0,1-7.3,5.4L31.9,94c-7.7.5-10.7,10.4-4.8,15.3L72.3,147a8.7,8.7,0,0,1,2.9,8.8L61.7,209c-2.3,9,7.3,16.3,15,11.4l46.9-29.7A8.2,8.2,0,0,1,132.4,190.7Z"
                fill="#ad423c" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </section>
          <section class="ratings-box-2">
            <p>1,234 votes</p>
            <p>3.9 / 5 stars</p>
          </section>
        </div>
      </div>
      </section>
            
      <section class="ratings-grid">
        <div class="ratings-grid-post-2">
          <h2>Social Media and features</h2>
          <div>
            <section class="social-media-post">
              <div class="social-media-box">
                <img src="img/960x0.jpg" alt="Nature" class="social-media-img" />
                <section class="social-media-author">
                  <p>TechMastery @tech_mastery.com</p>
                  <p>9:40 a.m.</p>
                </section>
                <img src="img/autumn-poolside.jpg" alt="Nature" class="social-media-img1" />
                <p class="social-media-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
              </div>
            </section>
          </div>
          <section class="grid-box">
            <div class="ratings-grid-text">
              <div>
                <h4>Most popular cameras:</h4>
                <ol class="grid-box-txt">
                  <li>1. iPhone 13 pro</li><br>
                  <li>2. Google Pixl 6</li><br>
                  <li>3. Samsung Galaxy S21</li><br>
                  <li>4. Samsung Galaxy S20</li><br>
                  <li>5. iPhone 12 pro</li><br>
                  <li>6. Samsung Galaxy S10</li>
                </ol>
              </div>
            </div>
          </section>
          <section>
            <div class="grid-box">
              <div class="ratings-grid-text1">
                <h4>Most Popular Scenery:</h4>
                <ol class="grid-box-txt">
                  <li>1. Mountains</li><br>
                  <li>2. Hills</li><br>
                  <li>3. City</li><br>
                  <li>4. Lakes</li><br>
                  <li>5. Volcanoes</li><br>
                  <li>6. Sea side</li><br>
                  <li>7. Jungle</li>
                </ol>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
    
    <footer>
      <section id="footer-newsletter">
        <img src="img/envelope.svg" class="icon-env" alt="Envelope"/>
        <p class="header-p">Sign up for our weekly newsletter!</p>
      </section>
      <section id="social-media-link">
        <p class="link-p">
          Follow us here:
        </p>
        <ul>
          <li><img src="img/youtube-logo.svg" class="icons" alt="youtube" /></li>
          <li><img src="img/twitter-logo.svg" class="icons" alt="twitter" /></li>
          <li><img src="img/facebook-logo.svg" class="icons" alt="facebook" /></li>
          <li><img src="img/translate.svg" class="icons" alt="translate" /></li>
          <li><img src="img/instagram-logo.svg" class="icons" alt="instagram" /></li>
        </ul>
      </section>
      <secion class="copyright">
        <p class="copyright">
        Copyright &copy; TechMastery 2025, All rights reserved.
        </p>
      </secion>
    </footer>
  </body>
</html>
