<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge">
  <meta name="Wonders of Nature"
    content="Wonders of Nature is a website where everyone who enjoys nature can view, discuss, rate and upload nature photograhs." />

  <!-- Always include this line of code!!! -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script></script>

  <title>Wonders of Nature</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <section class="header">
      <h1 class="header-title">Wonders of Nature</h1>
    </section>

    <section class="subheader">
      <button class="signin-Register-1" type="button" onclick="myButton.click()"><a href="sign-in/sign-in.component.html">Sign In / Register</a></button>
      <div class="siteSubheaderSection">
        <div class="siteSubheader">
          <section
            class="main-nav-link:link, main-nav-link:visited, main-nav-link:hover, main-nav-link:active, main-nav-link.nav-cta:hover, main-nav-link.nav-cta:active">
            <ul>
              <li><a href="home/home.component.html" class="link-list">Home</a></li>
              <li><a href="discussions/discussions.component.html" class="link-list">Discussions</a></li>
              <li><a href="ratings/ratings.component.html" class="link-list">Ratings</a></li>
            </ul>
          </section>
        </div>
      </div>
    </section>
  </header>

  <main>
    <h1 class="about-us-title">About Us</h1>
    <section>
      <div class="aboutus-grid-box">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices pellentesque fermentum. Nam feugiat
        sollicitudin ipsum ut hendrerit. Aliquam et lacinia purus, eleifend condimentum mauris. Vestibulum ante ipsum primis
        in
        faucibus orci luctus et ultrices posuere cubilia curae; Morbi eget sagittis elit. Donec tempus eleifend ultrices.
        Quisque bibendum nisi vitae dictum venenatis.
        </p>
      </div>
    </section>
    <section class="about-us-img">
      <div class="image-grid">
          <img src="gallery/studio-republic-644339-unsplash-min.jpg" alt="man working on website" class="img-grid3" />
          <img src="gallery/web-design-agency-768x602.png" alt="parts of a website" class="img-grid2" />
          <img src="gallery/website-developer.jpeg" alt="website" class="img-grid1" />
      </div>
    </section>

    <footer>
      <section id="footer-newsletter">
        <img src="img/envelope.svg" class="icon-env" alt="Envelope"/>
        <p class="header-p">Sign up for our weekly newsletter!</p>
      </section>
      <section id="social-media-link">
        <p class="link-p">
          Follow us here:
        </p>
        <ul>
          <li><img src="img/youtube-logo.svg" class="icons" alt="youtube" /></li>
          <li><img src="img/twitter-logo.svg" class="icons" alt="twitter" /></li>
          <li><img src="img/facebook-logo.svg" class="icons" alt="facebook" /></li>
          <li><img src="img/translate.svg" class="icons" alt="translate" /></li>
          <li><img src="img/instagram-logo.svg" class="icons" alt="instagram" /></li>
        </ul>
      </section>
      <section class="copyright">
        <p class="copyright">
        Copyright &copy; TechMastery 2025, All rights reserved.
        </p>
      </section>
    </footer>
  </main>
</body>
</html>
