<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge">
  <meta name="Wonders of Nature"
    content="Wonders of Nature is a website where everyone who enjoys nature can view, discuss, rate and upload nature photograhs." />

  <!-- Always include this line of code!!! -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script></script>

  <title>Wonders of Nature</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <section class="header">
      <h1 class="header-title">Wonders of Nature</h1>
    </section>

    <section class="subheader">
      <button class="signin-Register-1" type="button" onclick="myButton.click()" target="_blank"><a href="signin.html">Sign In / Register</a></button>
      <div class="siteSubheaderSection-2">
        <div class="siteSubheader-2">
          <section
            class="main-nav-link:link, main-nav-link:visited, main-nav-link:hover, main-nav-link:active, main-nav-link.nav-cta:hover, main-nav-link.nav-cta:active">
            <ul>
              <li><a href="index.html" class="link-list">Home</a></li>
              <li><a href="aboutus.html" class="link-list">About Us</a></li>
              <li><a href="ratings.html" class="link-list">Ratings</a></li>
            </ul>
          </section>
          <div class="siteSearch-1">
            <form id="form" role="search">
              <input type="search" id="query" name="q" placeholder="Search..."
                aria-label="Search through site content" />
              <button class="search-bar" type="button" onclick="myButton.click()">
                <svg class="svg-search" viewBox="0 0 1024 1024">
                  <path class="path1"
                    d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                  </path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </header>
  
    <main>
      <h1 class="main-title">Discussion</h1>
    <section class="discussion-grid">
      <div class="discussion-grid-post1">
        <div>
          <h2 class="section-title">Top posts this morning</h2>
          <h3 class="heading-tertiary-1">Beautiful Mountain Scenery</h3>
          <img src="img/photo-1610878180933-123728745d22.jpg" alt="Nature" class="img-main" />
          <section class="discussion-grid-box">
            <div>
              <p class="discussion-p">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed vitae tristique massa.
              </p>
            </div>
          </section>
          <h3 class="heading-tertiary">Eye Candy</h3>
          <img src="img/istockphoto-517188688-612x612.jpg" alt="Nature" class="img-main1" />
          <section class="discussion-grid-box1">
            <div>
              <p class="discussion-p">
                Quisque pharetra dui eu convallis posuere. Integer scelerisque sit amet ante in feugiat.
              </p>
            </div>
          </section>
          <h3 class="heading-tertiary-2">A breath-taking view</h3>
          <img src="img/autumn-poolside.jpg" alt="Nature" class="img-main2" />
          <section class="discussion-grid-box2">
            <div>
              <p class="discussion-p">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section class="discussion-grid">
      <div class="discussion-grid-post2">
        <h2 class="section-title-1">Current Posts</h2>
        <h3 class="heading-tertiary-3">Enchanting lake</h3>
        <img src="img/Altja_jägi_Lahemaal.jpg" alt="Nature" class="img-main-0" />
        <section class="discussion-grid-box-0">
          <div>
            <p class="discussion-p">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </section>
        <h3 class="heading-tertiary-5">Gorgeous Nestlings</h3>
        <img src="img/960x0.jpg" alt="Nature" class="img-main-1" />
        <section class="discussion-grid-box-1">
          <div>
            <p class="discussion-p">
              Sed et nisi sed mi pretium ultricies eget non quam. Vivamus a turpis in augue scelerisque pretium.
            </p>
          </div>
        </section>
        <h3 class="heading-tertiary-4">A breath-taking view</h3>
        <img src="img/autumn-poolside.jpg" alt="Nature" class="img-main-2" />
        <section class="discussion-grid-box-2">
          <div>
            <p class="discussion-p">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </section>
      </div>
    </section>

    <section class="discussion-grid">
      <div class="discussion-grid-post3">
        <p class="discussion-benefit">
          Like what you see? Want to comment on the photography? Then why not click on the button below and join today?
          Join today and be able to:
        </p>
        <p class="discussion-benefit">
            - Rate photos
            <br>
            - Comment on photos
            <br>
            - Join a community that is currently expanding
            <br>
            - Keep up with the latest news
            <br>
            - Create posts
            <br>
            - Create forums
            <br>
        </p>
        <p class="discussion-benefit-1">
          Sign up today!
        </p>
        <button class="signin-Register-3" type="button" onclick="myButton.click()"><a href="signin.html" class="btn btn-sign-in"><p class="signin-p">Sign In</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" class="svg-signin" viewBox="0 0 256 256">
            <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></line>
            <polyline points="144 56 216 128 144 200" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="10"></polyline>
          </svg>
        </a>
        </button>
      </div>
    </section>
    </main>
    
    <footer>
      <section id="footer-newsletter">
        <img src="img/envelope.svg" class="icon-env" alt="Envelope"/>
        <p class="header-p">Sign up for our weekly newsletter!</p>
      </section>
      <section id="social-media-link">
        <p class="link-p">
          Follow us here:
        </p>
        <ul>
          <li><img src="img/youtube-logo.svg" class="icons" alt="youtube" /></li>
          <li><img src="img/twitter-logo.svg" class="icons" alt="twitter" /></li>
          <li><img src="img/facebook-logo.svg" class="icons" alt="facebook" /></li>
          <li><img src="img/translate.svg" class="icons" alt="translate" /></li>
          <li><img src="img/instagram-logo.svg" class="icons" alt="instagram" /></li>
        </ul>
      </section>
      <secion class="copyright">
        <p class="copyright">
        Copyright &copy; TechMastery 2025, All rights reserved.
        </p>
      </secion>
    </footer>
  </body>
</html>
